<div class="col-md-9 col-xs-12 col-md-push-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= @user.name %>
      </h3>
    </div>
    <div class="panel-body">
      <h4>
        所属店
      </h4>
      <% if @store %>
        <h3>
          <%= @store.name %>
        </h3>
      <% else %>
        <h3 class="text-danger">
          所属していません
        </h3>
        <% if current_user == @user %>
          <%= link_to "お店を新規登録", stores_new_path, class: "btn btn-primary" %>
          <%= link_to "お店を選択", "#", class: "btn btn-info" %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<div class="col-md-3 col-xs-12 col-md-pull-9">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">記事一覧</h2>
    </div>
    <div class="panel-body">
      <% @posts.each do |post| %>
        <li> <%= link_to post.title, post_path(post.id) %> </li>
      <% end %>
    </div>
  </div>
</div>
