<div class="col-lg-8 col-lg-offset-2">
<div class="form-horizontal" role="form">
  <%= form_for :post, url: posts_path do |f| %>
    <div class="panel panel-sub-green">
      <div class="panel-heading" style="color:white">
        新規投稿
      </div>

      <div class="panel-body">
        <fieldset>

          <% if user_signed_in? %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :main_category_id, value: @main_category_id %>
            <%= f.hidden_field :sub_category_id, value: @sub_category_id %>
          <% end %>


          <div class="form-group">
            <%= f.label "タイトル", class: :"col-sm-3 control-label" %>
            <div class="col-sm-7">
              <%= f.text_field :title, class: :"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label "本文", class: :"col-sm-3 control-label" %>
            <div class="col-sm-7">
              <%= f.text_area :body, class: :"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label "画像", class: :"col-sm-3 control-label" %>
            <div class="col-sm-7">
              <%= f.file_field :image, class: :"form-control" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
              <%= f.submit class: "btn btn-sub-green", value: "送信" %>
            </div>
          </div>

        </fieldset>
      </div>
    </div>
  <% end %>
</div>
</div>
