<div class="col-md-9 col-xs-12 col-md-push-3">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">
        <span class="h3">
          <%= @post.title %>
        </span>
      </h2>
    </div>
    <div class="panel-body">

      <p class="article-body"><%= @post.body %></p>

      <p class="text-right">投稿者：<%= @post.user.name %></p>
      <p class="text-right">投稿日：<%= @post.created_at.strftime("%Y年 %m月 %d日") %></p>
    </div>
  </div>

</div>

<%= render 'layouts/main_categories', object: @main_categories %>
